.card-sell-container {
	@apply w-full h-28 mb-2 !p-0 !border-none !rounded-xl bg-slate-100 dark:bg-dark-primary;
}

.sell-container {
	@apply text-gray-500 text-left text-xs !p-0;
}

.sell-text-info,
.sell-balance-info {
	@apply m-0  hover:!text-black hover:dark:!text-white;
}

.sell-text-balance {
	@apply flex justify-between h-4 text-black dark:text-gray-500;
	min-width: 22.5%;
	max-width: 50%;
}

.sell-container-token {
	@apply w-full my-2 flex justify-between;
}

.sell-wrapper-token {
	@apply w-2/5 h-8 px-2 flex items-center cursor-pointer text-slate-700 dark:text-white;
}

.sell-wrapper-token:hover {
	@apply bg-slate-200 dark:bg-dark-hover;
	transition: 250;
}

.sell-name-token {
	@apply mx-3 w-full font-bold text-lg flex leading-5;
}

.sell-select-token {
	@apply w-full text-sm  font-semibold flex leading-5;
}

.sell-wrapper-balance {
	@apply w-full flex justify-between;
}

.sell-input-amount {
	@apply bg-transparent border-none focus:!outline-0 active:!outline-0 dark:!border-b-white;
	border-bottom: 1px solid black !important;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.sell-input-amount:hover {
	@apply border-transparent;
}

.sell-input-amount > .ant-input-number-input-wrap > .ant-input-number-input {
	@apply text-white text-end pr-6;
}

.sell-total-balance {
	@apply m-0;
	color: #6c86ad;
}

@media (min-width: theme("screens.md")) {
	.sell-text-balance {
		max-width: 33.33%;
	}
}

@media (max-width: theme("screens.lg")) {
	.sell-wrapper-token {
		@apply !w-5/12;
	}
}
