.search-token-modal > .ant-modal-content {
	@apply p-3;
	background: #001529 !important;
}

.search-token-modal > .ant-modal-content > .ant-modal-close {
	@apply text-white;
}

.search-token-modal > .ant-modal-content > .ant-modal-header {
	background: #001529 !important;
}

.confirmation-token-modal > .ant-modal-content {
	@apply p-3;
	background: #131823 !important;
}

.confirmation-token-modal > .ant-modal-content > .ant-modal-close {
	@apply text-white;
}

.confirmation-token-modal > .ant-modal-content > .ant-modal-header {
	background: #131823 !important;
}

.custom-list-item {
	@apply !py-2 !px-4 !h-20 cursor-pointer;
}

.custom-list-item:hover {
	background-color: #99a1bd14;
	transition: 250;
}

.rc-virtual-list.custom-list-container > .rc-virtual-list-scrollbar > .rc-virtual-list-scrollbar-thumb {
	@apply !bg-gray-400;
}
