:root {
	--clr-bg-dark-primary: rgb(19, 24, 35);
	--clr-bg-dark-secondary: #06070a;
	--clr-bg-light: #fafafa; /* zinc-50 */
}

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.dark {
	@apply text-zinc-50;
	/* background: linear-gradient(to right, #2b5876, #4e4376); */
	background: var(--clr-bg-dark-primary);
}

.dark-navbar {
	@apply text-zinc-50;
	background: var(--clr-bg-dark-secondary);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
