.ant-layout.app-layout {
	width: 100%;
	min-height: 100vh;
	position: relative;
}

.ant-layout-content.app-main {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 3.5em;
	@apply transition-all;
}

.ant-layout-footer.app-footer {
	@apply w-full h-16 flex justify-between items-center text-white;
	padding: 0.5em;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 30;
}

@media (min-width: theme("screens.sm")) {
	.ant-layout-footer.app-footer {
		@apply hidden;
	}
}
